@import "partials/variables";
@import "partials/setup";
@import "partials/mixins";
@import "partials/typography";

.noDisplay{
        display: none; 
}

body{
    // background-color: #c8ceec;
    background-color: $backgroundColor;
}

footer{
    background-color: $primaryColor;
}